registry=${npm_src}
//registry.npmjs.org/:_authToken=${npm_token}
//artifactory.sf-express.com/artifactory/api/npm/npm/:_authToken=${npm_sf_token}
//artifactory.sf-express.com/artifactory/api/npm/npm-sf-local/:_authToken=${npm_sf_token}
